USE [master]
GO
/****** Object:  Database [PIMSDb]    Script Date: 1/4/2018 10:28:24 PM ******/
CREATE DATABASE [PIMSDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PIMSDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PIMSDb.mdf' , SIZE = 9216KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PIMSDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PIMSDb_log.ldf' , SIZE = 64512KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PIMSDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PIMSDb]
GO
/****** Object:  Table [dbo].[Customer_Feedback]    Script Date: 1/4/2018 10:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Feedback](
	[Feedback_ID] [int] IDENTITY(1,1) NOT NULL,
	[Prescriptions_ID] [int] NULL,
	[Rating] [varchar](50) NULL,
	[Service] [varchar](50) NULL,
	[Feedback] [varchar](max) NULL,
 CONSTRAINT [PK_Customer_Feedback] PRIMARY KEY CLUSTERED 
(
	[Feedback_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 1/4/2018 10:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[Doctor_ID] [int] NOT NULL,
	[Doctor_Name] [nvarchar](50) NULL,
	[Specialization] [nchar](50) NULL,
	[Qualification] [nchar](50) NULL,
	[Channel_Fee] [money] NULL,
 CONSTRAINT [PK_Doctor] PRIMARY KEY CLUSTERED 
(
	[Doctor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drug_Inventory]    Script Date: 1/4/2018 10:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drug_Inventory](
	[ItemIt_ID] [int] IDENTITY(1,1) NOT NULL,
	[Item_Name] [varchar](50) NULL,
	[Item_Description] [varchar](max) NULL,
	[Item_Category] [varchar](50) NULL,
	[Unit_Selling_Price] [float] NULL,
	[Reorder_level] [int] NULL,
	[Unit_Buying_Price] [float] NULL,
	[Issued_Qunatity] [int] NULL,
	[Drug_Type] [varchar](50) NULL,
	[Category] [varchar](50) NULL,
	[Shelf] [varchar](50) NULL,
	[current_Quantity] [int] NULL,
 CONSTRAINT [PK_Drug_Inventory] PRIMARY KEY CLUSTERED 
(
	[ItemIt_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Issue_Drug]    Script Date: 1/4/2018 10:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Issue_Drug](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Reference_No] [int] NULL,
	[ItemIt_ID] [int] NULL,
	[Quantity] [float] NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_Issue_DrugTable1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Issue_Receipt]    Script Date: 1/4/2018 10:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Issue_Receipt](
	[Reference_No] [int] IDENTITY(1,1) NOT NULL,
	[NoOfItems] [int] NULL,
	[Date] [date] NULL,
	[Time] [time](7) NULL,
	[Prescriptions_ID] [int] NULL,
 CONSTRAINT [PK_Issue_DrugTable2] PRIMARY KEY CLUSTERED 
(
	[Reference_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_Channel]    Script Date: 1/4/2018 10:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_Channel](
	[Channel_ID] [int] IDENTITY(1,1) NOT NULL,
	[Channel_Date] [date] NULL,
	[Channel_Time] [nchar](10) NULL,
	[Channel_Fee] [money] NULL,
	[Channel_Number] [nchar](10) NULL,
	[Room_Number] [nchar](10) NULL,
	[Doctor_ID] [int] NULL,
	[Patient_Contact] [int] NULL,
 CONSTRAINT [PK_Patient_Channel] PRIMARY KEY CLUSTERED 
(
	[Channel_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 1/4/2018 10:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[Payment_ID] [int] IDENTITY(1,1) NOT NULL,
	[Prescriptions_ID] [int] NULL,
	[Amount] [money] NULL,
	[Payment_Date] [date] NULL,
	[Customer_Contact] [int] NULL,
	[Payment_Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[Payment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescriptions]    Script Date: 1/4/2018 10:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescriptions](
	[Prescriptions_ID] [int] IDENTITY(1,1) NOT NULL,
	[Prescriptions_Date] [date] NULL,
	[Deseas_type] [varchar](50) NULL,
	[Description] [varchar](max) NULL,
	[Doctor_ID] [int] NULL,
	[Patient_Contact] [int] NULL,
 CONSTRAINT [PK_Prescriptions] PRIMARY KEY CLUSTERED 
(
	[Prescriptions_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registered_Patient]    Script Date: 1/4/2018 10:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registered_Patient](
	[Patient_Contact] [int] NOT NULL,
	[Patient_Name] [nvarchar](100) NULL,
	[Patient_Email] [nvarchar](50) NULL,
	[Patient_DoB] [date] NULL,
	[Patient_NIC] [nchar](10) NULL,
	[Patient_Address] [nvarchar](max) NULL,
	[Patient_Gender] [nchar](10) NULL,
	[Patient_Register_Date] [date] NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[Patient_Contact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/4/2018 10:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Gender] [varchar](10) NULL,
	[UserType] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[ContactNo] [int] NULL,
	[NIC] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer_Feedback] ON 

INSERT [dbo].[Customer_Feedback] ([Feedback_ID], [Prescriptions_ID], [Rating], [Service], [Feedback]) VALUES (1, 17367, N'Dissatisfied', N'Channeling Services', N'Test')
INSERT [dbo].[Customer_Feedback] ([Feedback_ID], [Prescriptions_ID], [Rating], [Service], [Feedback]) VALUES (2, 17370, N'Dissatisfied', N'Channeling Services', N'Test')
INSERT [dbo].[Customer_Feedback] ([Feedback_ID], [Prescriptions_ID], [Rating], [Service], [Feedback]) VALUES (3, 17374, N'Dissatisfied', N'Channeling Services', N'Test')
SET IDENTITY_INSERT [dbo].[Customer_Feedback] OFF
INSERT [dbo].[Doctor] ([Doctor_ID], [Doctor_Name], [Specialization], [Qualification], [Channel_Fee]) VALUES (1, N'Lenette Erridge', N'Dentistry                                         ', N'DMD                                               ', 3836.0000)
INSERT [dbo].[Doctor] ([Doctor_ID], [Doctor_Name], [Specialization], [Qualification], [Channel_Fee]) VALUES (2, N'Cam Gutherson', N'Endocrinologist                                   ', N'DO                                                ', 3862.0000)
INSERT [dbo].[Doctor] ([Doctor_ID], [Doctor_Name], [Specialization], [Qualification], [Channel_Fee]) VALUES (3, N'Lucine Sellwood', N'Geriatrics                                        ', N'MD                                                ', 3741.0000)
SET IDENTITY_INSERT [dbo].[Drug_Inventory] ON 

INSERT [dbo].[Drug_Inventory] ([ItemIt_ID], [Item_Name], [Item_Description], [Item_Category], [Unit_Selling_Price], [Reorder_level], [Unit_Buying_Price], [Issued_Qunatity], [Drug_Type], [Category], [Shelf], [current_Quantity]) VALUES (167, N'Geodon                        ', N'ziprasidone hydrochloride', N'painkiller                    ', 149, 1000, 140, 4400, N'painkiller                    ', N'painkiller                    ', N'39        ', 7)
INSERT [dbo].[Drug_Inventory] ([ItemIt_ID], [Item_Name], [Item_Description], [Item_Category], [Unit_Selling_Price], [Reorder_level], [Unit_Buying_Price], [Issued_Qunatity], [Drug_Type], [Category], [Shelf], [current_Quantity]) VALUES (168, N'Diltiazem Hydrochloride       ', N'diltiazem hydrochloride', N'painkiller                    ', 243, 9000, 230, 8200, N'painkiller                    ', N'painkiller                    ', N'13        ', 4)
SET IDENTITY_INSERT [dbo].[Drug_Inventory] OFF
SET IDENTITY_INSERT [dbo].[Issue_Drug] ON 

INSERT [dbo].[Issue_Drug] ([ID], [Reference_No], [ItemIt_ID], [Quantity], [Price]) VALUES (256036, 12801, 177, 16, 4240)
INSERT [dbo].[Issue_Drug] ([ID], [Reference_No], [ItemIt_ID], [Quantity], [Price]) VALUES (256037, 12801, 232, 8, 3456)
INSERT [dbo].[Issue_Drug] ([ID], [Reference_No], [ItemIt_ID], [Quantity], [Price]) VALUES (256038, 12801, 239, 4, 908)
GO
SET IDENTITY_INSERT [dbo].[Issue_Drug] OFF
SET IDENTITY_INSERT [dbo].[Issue_Receipt] ON 

INSERT [dbo].[Issue_Receipt] ([Reference_No], [NoOfItems], [Date], [Time], [Prescriptions_ID]) VALUES (12801, 9, CAST(N'2015-05-24' AS Date), CAST(N'14:59:03' AS Time), 17364)
INSERT [dbo].[Issue_Receipt] ([Reference_No], [NoOfItems], [Date], [Time], [Prescriptions_ID]) VALUES (12802, 9, CAST(N'2015-04-30' AS Date), CAST(N'16:12:24' AS Time), 17365)
INSERT [dbo].[Issue_Receipt] ([Reference_No], [NoOfItems], [Date], [Time], [Prescriptions_ID]) VALUES (12803, 8, CAST(N'2016-07-25' AS Date), CAST(N'18:07:19' AS Time), 17366)
GO
SET IDENTITY_INSERT [dbo].[Issue_Receipt] OFF
SET IDENTITY_INSERT [dbo].[Patient_Channel] ON 

INSERT [dbo].[Patient_Channel] ([Channel_ID], [Channel_Date], [Channel_Time], [Channel_Fee], [Channel_Number], [Room_Number], [Doctor_ID], [Patient_Contact]) VALUES (2301, CAST(N'2017-06-10' AS Date), N'18:29:02.0', 1351.0000, N'16        ', N'18        ', 40, 783390951)
INSERT [dbo].[Patient_Channel] ([Channel_ID], [Channel_Date], [Channel_Time], [Channel_Fee], [Channel_Number], [Room_Number], [Doctor_ID], [Patient_Contact]) VALUES (2302, CAST(N'2016-03-10' AS Date), N'10:23:56.0', 876.0000, N'22        ', N'14        ', 27, 776431315)
INSERT [dbo].[Patient_Channel] ([Channel_ID], [Channel_Date], [Channel_Time], [Channel_Fee], [Channel_Number], [Room_Number], [Doctor_ID], [Patient_Contact]) VALUES (2303, CAST(N'2017-01-25' AS Date), N'08:21:53.0', 1177.0000, N'49        ', N'13        ', 45, 773281260)
GO
SET IDENTITY_INSERT [dbo].[Patient_Channel] OFF
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([Payment_ID], [Prescriptions_ID], [Amount], [Payment_Date], [Customer_Contact], [Payment_Type]) VALUES (1, 10685, 18095.0000, CAST(N'2017-12-19' AS Date), 783421287, N'Cash')
INSERT [dbo].[Payment] ([Payment_ID], [Prescriptions_ID], [Amount], [Payment_Date], [Customer_Contact], [Payment_Type]) VALUES (2, 10685, 18095.0000, CAST(N'2017-12-19' AS Date), 783421287, N'Cash')
INSERT [dbo].[Payment] ([Payment_ID], [Prescriptions_ID], [Amount], [Payment_Date], [Customer_Contact], [Payment_Type]) VALUES (3, 10685, 18095.0000, CAST(N'2017-12-19' AS Date), 783421287, N'Cash')
SET IDENTITY_INSERT [dbo].[Payment] OFF
SET IDENTITY_INSERT [dbo].[Prescriptions] ON 

INSERT [dbo].[Prescriptions] ([Prescriptions_ID], [Prescriptions_Date], [Deseas_type], [Description], [Doctor_ID], [Patient_Contact]) VALUES (17366, CAST(N'2015-09-30' AS Date), N'36753B80', N'2D5A06EF-9ADC-493D-9C6B-50', 25, 751185555)
INSERT [dbo].[Prescriptions] ([Prescriptions_ID], [Prescriptions_Date], [Deseas_type], [Description], [Doctor_ID], [Patient_Contact]) VALUES (17367, CAST(N'2016-08-21' AS Date), N'F933BFAB', N'D5C72621-F479-4E52-9132-FE', 40, 783390951)
INSERT [dbo].[Prescriptions] ([Prescriptions_ID], [Prescriptions_Date], [Deseas_type], [Description], [Doctor_ID], [Patient_Contact]) VALUES (17368, CAST(N'2015-02-07' AS Date), N'2E14C77C', N'4B7B181B-3BB2-4FDC-BA70-E7', 17, 787671791)
GO
SET IDENTITY_INSERT [dbo].[Prescriptions] OFF
GO
INSERT [dbo].[Registered_Patient] ([Patient_Contact], [Patient_Name], [Patient_Email], [Patient_DoB], [Patient_NIC], [Patient_Address], [Patient_Gender], [Patient_Register_Date]) VALUES (751185555, N'Vannie Fox', N'VannieFox@gmail.com', CAST(N'1992-11-11' AS Date), N'921112456 ', N'54, Galle road, Colombo', N'Male      ', CAST(N'2016-07-20' AS Date))
INSERT [dbo].[Registered_Patient] ([Patient_Contact], [Patient_Name], [Patient_Email], [Patient_DoB], [Patient_NIC], [Patient_Address], [Patient_Gender], [Patient_Register_Date]) VALUES (771630367, N'Jakie Diamant', N'jdiamant12@nasa.gov', CAST(N'1988-01-16' AS Date), N'772652455 ', N'0178 Leroy Road', N'Male      ', CAST(N'2015-02-05' AS Date))
INSERT [dbo].[Registered_Patient] ([Patient_Contact], [Patient_Name], [Patient_Email], [Patient_DoB], [Patient_NIC], [Patient_Address], [Patient_Gender], [Patient_Register_Date]) VALUES (771960664, N'Demott Dimitru', N'ddimitruj@google.nl', CAST(N'2000-03-13' AS Date), N'863363349 ', N'91309 Judy Circle', N'Male      ', CAST(N'2015-03-29' AS Date))
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Username], [FirstName], [LastName], [Gender], [UserType], [Password], [ContactNo], [NIC]) VALUES (1, N'dt', N'hd', N'sd', N'Male', N'admin', N'dt', 773281290, NULL)
INSERT [dbo].[Users] ([ID], [Username], [FirstName], [LastName], [Gender], [UserType], [Password], [ContactNo], [NIC]) VALUES (2, N'admin', N'admin', N'admin', N'Female', N'admin', N'admin', 771921565, NULL)
INSERT [dbo].[Users] ([ID], [Username], [FirstName], [LastName], [Gender], [UserType], [Password], [ContactNo], [NIC]) VALUES (4, N'user1', N'user', N'user', N'Male', N'coordinator', N'user', 771451454, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Patient_Channel]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Channel_Doctor] FOREIGN KEY([Doctor_ID])
REFERENCES [dbo].[Doctor] ([Doctor_ID])
GO
ALTER TABLE [dbo].[Patient_Channel] CHECK CONSTRAINT [FK_Patient_Channel_Doctor]
GO
ALTER TABLE [dbo].[Patient_Channel]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Channel_Registered_Patient] FOREIGN KEY([Patient_Contact])
REFERENCES [dbo].[Registered_Patient] ([Patient_Contact])
GO
ALTER TABLE [dbo].[Patient_Channel] CHECK CONSTRAINT [FK_Patient_Channel_Registered_Patient]
GO
USE [master]
GO
