<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MSS.Properties.Settings.PIMSDbConnectionString" connectionString="Data Source=DESKTOP-C6BGCFL;Initial Catalog=PIMSDb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="provider" value="System.Data.SqlClient"/>    
    <add key="connectionString" value="Data Source=DESKTOP-C6BGCFL;Initial Catalog=PIMSDb;Integrated Security=True"/>
  </appSettings> 

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>